<!-- Navbar header-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Employee Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-danger" (click)="onLogout()"><i class="fa fa-sign-out"></i><span class="ms-1">Log out</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Body -->
<div class="container">
  <div class="row">
    <div class="col-20" *ngIf="showTables">
      <h2 class="h2">Employee List</h2>
      <table class="table">
        <thead>
          <tr class="table-danger">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Designation</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async">
            <td class="table-primary">{{ employee.firstname }}</td>
            <td class="table-primary">{{ employee.lastname }}</td>
            <td class="table-primary">{{ employee.email }}</td>
            <td class="table-primary">{{ employee.city }}</td>
            <td class="table-primary">{{ employee.designation }}</td>
            <td class="table-primary">{{ employee.gender }}</td>
            <td class="table-primary">{{ employee.salary | currency:'USD':'symbol':'1.2-2' }}</td>
            <td class="table-primary">
              <button class="btn btn-primary" routerLink="/app-update-employee/{{employee.email}}"><i class="fas fa-edit"></i></button>
              <button class="btn btn-danger" (click)="onDelete(employee.email)"><i class="fas fa-trash"></i></button>
              <button class="btn btn-success" routerLink="/app-employee-details/{{employee.email}}"><i class="fa fa-file" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="onAddEmployeeClick()" routerLink="/app-add-employee">Add Employee</button>
    </div>
  </div>
</div>
